<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Cake Shop{% endblock %}</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', path='/styles.css') }}"
    >
</head>
<body>
    <header class="site-header">
        <a class="brand" href="{{ url_for('catalogue_page') }}">
            Cake Shop
        </a>
        <span>Випічка для ваших особливих моментів</span>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="site-footer">
        Cake Shop · Зроблено з любов’ю
    </footer>
</body>
</html>